<div class="container text-white pb-2 mt-5">
  <h2>Problem Statement</h2>
  <p>
    This is Expense Splitter Web Application. Which provide a platform, where user can create a group
    and they can add their friends. inside a group anyone can create a expense and this application will
    distribute equal amount to others. group members can comunicate with each others. for each operation
    users will get real-time notification and email messages.
  </p>





  <h2>Proposed system</h2>

  <p>This web application has these many features: </p>


  <h3> Login view </h3>
  <ol>
    <li>User will be able to login to the application through his email and password.</li>
    <li>User will be able to create a new account on this platform.</li>
    <li>If user will forget his password, he can change his password using <b>Forgot password</b> feature.</li>
    <li>
      Once user will login, redirect to his personalized dashboard view. where his all gouups will be
      listed out.
    </li>
  </ol>

  <hr style="background-color: #ECE5DD;">
  <h3>User home page view </h3>
  <p>
    Here, user all groups name will be listed out and user can do these things -
  </p>
  <ol>
    <li>He can see all groups name.</li>
    <li>He can see who has created particular group.</li>
    <li>He can see when group has created.</li>
    <li>There is one button for creation of new group.</li>
    <li>User can select any number of users at the time of group creation.</li>
    <li>Once user will click any group he can see all expenses related to that group.</li>
  </ol>

  <hr style="background-color: #ECE5DD;">
  <h3>Group Details view </h3>
  <ol>
    <li>Here user will be able to edit/delete <b>Group</b>.</li>
    <li>Here user can see pending amount of each person in this group.</li>
    <li>Any user can add any issue in chat group section.</li>
    <li>User can see all group chat messages.</li>
    <li>There is one button for creation of new expense.</li>
    <li>Here user can see all expenses which had created in that group.</li>
    <li>User can see each expense name, who has created and when had created.</li>
    <li>Once user will click any expense he will redirect to detail view of that expense.</li>
  </ol>

  <hr style="background-color: #ECE5DD;">
  <h3>Create New Expense</h3>
  <p>User will enter these information -</p>
  <ol>
    <li>Expense name</li>
    <li>Expense amount</li>
    <li>Expense payed by -
      <ol>
        <li class="sub-list">Ypu : All expense amount has paid by expense creator.</li>
        <li class="sub-list">Multiple : Here expense creator will enter each person contribution amount.</li>
        <li class="sub-list">
          If expense creator want to remove someone at the time of expense creation, he can remove
          using <b>remove button</b>.
        </li>
      </ol>
    </li>
    <li>Expense distributed -
      <ol>
        <li class="sub-list">
          Equally : Total expense amount will distribute equally between all member
          of that group.
        </li>
        <li class="sub-list">
          Unequal : Here total expense amount will distribute only selected member.
        </li>
        <li class="sub-list">
          At the time of expense creation, expense creator can select each person name, who will
          pay for that expense.
        </li>
      </ol>
    </li>
  </ol>

  <hr style="background-color: #ECE5DD;">
  <h3>Expense Details view</h3>
  <ol>
    <li>Here user will be able to see -
      <ol>
        <li class="sub-list">Expense name</li>
        <li class="sub-list">Expense amount</li>
        <li class="sub-list">Expense creator name</li>
        <li class="sub-list">Expense created date</li>
        <li class="sub-list">Expense last updated date</li>
        <li class="sub-list">Expense last updated person name</li>
        <li class="sub-list">How much money each person has contributed</li>
        <li class="sub-list">In how many people total amount has distributed</li>
        <li class="sub-list">Here user can see pending amount of each person in this expense.</li>
      </ol>
    </li>

    <li>User can go to previous page.</li>
    <li>User can edit/delete that expense.</li>
    <li>
      If user will perform edit/delete operation each member of that expense will get real-time
      notification and email messages.
    </li>
  </ol>

  <hr style="background-color: #ECE5DD;">
  <h3>Expense History</h3>
  <ol>
    <li>User can see history of that expense.</li>
    <li>
      While someone will edit the expense one detail history will be create like what changes has done
      and who has done these changes.
    </li>
    <li>All online user of that expense will get real-time notification if anyone edit the expense.</li>
    <li>Each user of that expense will get email if anyone edit the expense.</li>
    <li>User can see when expense history had created.</li>
  </ol>


  <hr style="background-color: #ECE5DD;">
  <h3>Resource Links</h3>
  <ol>
    <li>
      <a href="https://github.com/abhishek-web-dev/expense-splite-frontEnd-dev" target="_blank">
        FrontEnd Git Hub Link
      </a>
    </li>
    <li>
      <a href="https://github.com/abhishek-web-dev/expense-splite-backend-API" target="_blank">
        BackEnd Github Link
      </a>
    </li>
  </ol>

  <h3 class="text-center py-4">END</h3>
</div>
