<div class="main-div">
  <!-- start forget password form -->
  <div id="form-div">
    <form id="login-form" [formGroup]="forgetForm" (ngSubmit)="onSubmit(forgetForm)">
      <h2 class="pb-2">Forgot Password</h2>
      <div class="form-group">
        <label for="code">Varification Code</label>
        <input type="text" class="form-control" id="code" formControlName="code" placeholder="Enter code">
      </div>
      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" class="form-control" id="password" placeholder="Enter New Password"
          formControlName="password">
      </div>
      <div class="row mt-1">
        <div class="col-md-12 d-flex justify-content-center">
          <button type="submit" class="btn btn-success btn-lg" [disabled]="!forgetForm.valid">Submit</button>
        </div>
      </div>

    </form>
  </div>
  <!-- end of forget password form  -->


</div>
