.main-div {
    background-color: #1a202c;
    height: 100%;
    color: white;
  }
  
  #form-div {
    background-color: #2d3748;
    width: 30%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6%;
    border-radius: 10px;
  }
  
  #login-form {
    margin: 50px;
    padding: 40px 0px;
  }
  
  /* it will apply red border if input will be empty */
  input.ng-invalid.ng-touched {
    border: 2px solid red;
  }
  
  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 1000px) {
    #form-div {
      width: 40%;
    }
  }
  
  @media (max-width: 750px) {
    #form-div {
      width: 60%;
    }
  }
  
  @media (max-width: 450px) {
    #form-div {
      width: 80%;
    }
    .btn {
      padding: 5px;
    }
  }
  